.confirm-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirm-box {
  background: #fff;
  width: 340px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black !important;
}

.confirm-actions {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  margin-top: 20px;
}

.cancel-btn {
  background: #838995;
  color: black;
  padding: 8px 14px;
  border-radius: 6px;
}

.confirm-btn {
  background: #dc2626;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
}
